name: Build ndcurves for Mac OS X/Linux via pip

on: [push, pull_request]

env:
    CTEST_OUTPUT_ON_FAILURE: 1
    CTEST_PARALLEL_LEVEL: 4

jobs:
  ndcurves-pip:
    name: "CI on ${{ matrix.os }} / python ${{ matrix.python-version }} with pip"
    runs-on: "${{ matrix.os }}"

    strategy:
      matrix:
        os: ["ubuntu-latest"] # , "macos-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"
      - run: python -m pip install -U pip
      - run: python -m pip install pin[build]
      - run: echo "CMAKE_PREFIX_PATH=$(python -m cmeel cmake)" >> $GITHUB_ENV
      - run: echo "LD_LIBRARY_PATH=$(python -m cmeel lib)" >> $GITHUB_ENV
      - run: cmake -B build -S .
      - run: cmake --build build
      - run: cmake --build build -t test
